.qmake.stash
*-build-*
*.autosave
BotClientCV.*
*.pro.user
*.pro.user.*
*.so
*.o
*.a
.builds
Makefile*
moc_*.cpp
moc_*.h
run
*plugin_import.cpp
qrc_*.cpp
Thumbs.db
ui_*.h
.ui/*
config
debug
log
save
release
debug-backup
mapSystemData